<div class="ecom_homeOutdoor_container">
  <div class="ecom_homeAndOutdoor_Img">
    <img
      src="../../../assets/image 92.png"
      title="home decor"
      alt="home decor"
    />
    <div class="eco_HomeDecorText">
      <p class="homeDecor_text">Home and outdoor</p>
      <button>Source now</button>
    </div>
  </div>
  <!-- small decor items section1-->
  <div class="eco_homeDecorItems1">
    <div class="eco_homeDecoreDiv1">
      <div class="ecom_chairText">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/rasm.png" alt="" />
      </div>
      <!-- 2nd -->
      <div class="ecom_chairText">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/homeDecoreItems/image2.png" alt="" />
      </div>
      <!-- 3rd -->
      <div class="ecom_chairText">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/homeDecoreItems/image3.png" alt="" />
      </div>
      <!-- 4th -->
      <div class="ecom_chairText">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/rasm.png" alt="" />
      </div>
    </div>
    <!-- small decor items section2-->
    <div class="eco_homeDecorItems2">
      <div class="ecom_chairText">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/rasm.png" alt="" />
      </div>
      <!-- 2nd -->
      <div class="ecom_chairText">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/rasm.png" alt="" />
      </div>
      <!-- 3rd -->
      <div class="ecom_chairText">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/rasm.png" alt="" />
      </div>
      <!-- 4th -->
      <div class="ecom_chairText">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/rasm.png" alt="" />
      </div>
    </div>
  </div>

  <div class="">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
