<div class="ecom_footer">
  <div class="ecom_footer_newtslatter">
    <p class="text">Subscribe to our Newslatter</p>
    <p>
      Get daily news on upcoming offers from many suppliers all over the world
    </p>

    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text"
          ><i class="fa-regular fa-envelope"></i
        ></span>
      </div>
      <input
        type="text"
        class="form-control w-50"
        placeholder="Your Email"
        id="mail"
        name="email"
      />

      <button class="btn btn-primary ml-2">Subscribe</button>
    </div>
  </div>
</div>
<!-- footer Section 2nd -->

<div class="ecom_footer_second footer-items">
  <div class="ecom_brand_logo">
    <img src="../../../assets/logoBag.svg" alt="icon" title="icon" />
    <img src="../../../assets/logo.svg" />
    <p>Best information about the company gies here but now lorem ipsum is</p>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-- 2nd -->
  <div class="footer-items">
    <h6>About</h6>
    <ul>
      <li>About us</li>
      <li>Find store</li>
      <li>Catagory</li>
      <li>Blogs</li>
    </ul>
  </div>
  <!-- 3rd -->
  <div class="footer-items">
    <h6>About</h6>
    <ul>
      <li>About us</li>
      <li>Find store</li>
      <li>Catagory</li>
      <li>Blogs</li>
    </ul>
  </div>
  <!-- 4th -->
  <div class="footer-items">
    <h6>About</h6>
    <ul>
      <li>About us</li>
      <li>Find store</li>
      <li>Catagory</li>
      <li>Blogs</li>
    </ul>
  </div>
  <!-- 5th -->
  <ul>
    <li><h6>Get App</h6></li>
    <li><a href="">about</a></li>
    <li><a href="">about</a></li>
  </ul>
</div>
<div class="ecom_footer_Langauge">
  <div class="ecom_footer_Langauge_text">© 2023 Ecommerce.</div>

  <div class="ecom_footer_Langauge_flag">
    <img src="../../../assets/USflag.png" alt="flag" />
    <select name="Language" id="">
      <option value="">Engllish</option>
      <option value="">Engllish</option>
      <option value="">Engllish</option>
    </select>
  </div>
</div>
