<div class="ecom_footer">
  <div class="ecom_footer_newtslatter">
    <h5>Subscribe to our Newslatter</h5>
    <p>
      Get daily news on upcoming offers from many suppliers all over the world
    </p>

    <div class="input-group mb-3">
      <div class="input-group-append">
        <span class="input-group-text"
          ><i class="fa-regular fa-envelope"></i
        ></span>
      </div>
      <input
        type="text"
        class="form-control w-50"
        placeholder="Your Email"
        id="mail"
        name="email"
      />

      <button class="btn btn-primary ml-2">Subscribe</button>
    </div>
  </div>
</div>
