<div class="ecom_navbar_container">
    <div class="ecom_navbar_logo">
        <img src="../../../assets/logoBag.svg" alt="logoicon">
        <img src="../../../assets/logo.svg">
    </div>

    <div class="ecom_navbar_input">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">All Categories</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
            <div class="input-group-append">
                <span class="input-group-text ecom_nav_botton" id="basic-addon2">Search</span>
            </div>
        </div>
    </div>

    <div class="ecom_navbar_icon">
        <div>
            <img src="../../../assets/navIcon1.svg">
            <p>Profile</p>
        </div>
        <div>
            <img src="../../../assets/navicon2.svg">
            <p>Message</p>
        </div>
        <div>
            <img src="../../../assets/navIcon3.svg">
            <p>Orders</p>
        </div>
        <div>
            <img src="../../../assets/navIcon4.svg">
            <p>My Cart</p>
        </div>
    </div>
</div>