<div class="ecom_banner_container">
  <!-- banner sidebar -->
  <div class="ecom_banner_menu">
    <ul>
      <li *ngFor="let menu of bannerMenuItems">{{ menu }}</li>
    </ul>
  </div>
  <!-- banner image -->
  <div class="ecom_banner_img">
    <figure class="img_banner">
      <img src="../../../assets/Banner-board-800x420 2 (1).png" alt="" />
      <div class="ecom_banner_text">
        <span>Latest trending</span>
        <span>Electronic items</span>
        <button>Learn More</button>
      </div>
    </figure>
  </div>
  <!-- banner login menu -->
  <div class="ecom_banner_loginView">
    <div class="ecom_banner_loginMenu">
      <ul class="ecom_login">
        <li>
          <img src="../../../assets/Avatar.png" alt="" />
        </li>
        <li>Hi,user let's get stated</li>
      </ul>
      <div class="login_buttons">
        <button class="ecom_joinNow_btn">Join Now</button>
        <button class="ecom_logIn_btn">Log In</button>
      </div>
    </div>
    <div class="ecom_login_text1">
      <p>Get US $10 off with a new supplier</p>
    </div>
    <div class="ecom_login_text2">
      <p>Send quotes with supplier preferences</p>
    </div>
  </div>
</div>
