<hr style="width: 100%; text-align: left; margin: 0; color: #e0e0e0" />

<div class="ecom_subnav_container">
  <div class="ecom_subnav_row">
    <div class="ecom_subnav_div">
      <ul class="ecom_subnav_Lis">
        <li><i class="fa-solid fa-bars ecom_icon"></i></li>
        <li><a href="#">All Category</a></li>
        <li><a href="#">Hot Offers</a></li>
        <li><a href="#">Gift Boxes</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Menu Items</a></li>
        <li>
          Help
          <select class="dropdown">
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
            <option value=""></option>
          </select>
        </li>
      </ul>
      <div class="ecom_subnar_paymentDropdown">
        <ul>
          <li>
            English , USD
            <select class="dropdown">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </li>
          <li>
            <span>Ship to</span>
            <img src="../../../assets/icon.png" title="flag" alt="flag" />
            <select class="dropdown">
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr style="width: 100%; text-align: right; margin: 0; color: #e0e0e0" />
