<div class="ecom_subnav_container">
  <div class="ecom_subnar_div">
    <div class="ecom_subnav_row">
      <hr style="width: 100%; text-align: left; margin-left: 0" />
      <div class="ecom_subnav_div">
        <ul class="ecom_subnav_Lis">
          <li><i class="fa-solid fa-bars"></i></li>
          <li><a href="#">All Category</a></li>
          <li><a href="#">Hot Offers</a></li>
          <li><a href="#">Gift Boxes</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Menu Items</a></li>
          <li>
            Help
            <select>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
              <option value=""></option>
            </select>
          </li>
        </ul>
        <div class="ecom_subnar_paymentDropdown">
          <ul>
            <li>
              English , USD
              <select>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </li>
            <li>
              Ship to
              <select>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <hr style="width: 100%; text-align: left; margin-left: 0" />
    </div>
  </div>
</div>
