.ecom_homeOutdoor_container {
  margin-top: 20px;
  position: relative;
  border: 1px solid #e0e0e0;
  display: flex;

  .ecom_homeAndOutdoor_Img img {
    width: 100%;
    height: 100%;
  }
  .eco_homeDecorItems1 {
    width: 100%;
    // display: inline;

    img {
      margin: 49px 13px 10px 56px;
    }
  }
  .eco_HomeDecorText {
    position: absolute;
    top: 10%;
    left: 2%;
    margin-left: 20px;
  }
  .homeDecor_text {
    column-rule: #1c1c1c;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    width: 154px;
  }
}
.ecom_chairText {
  display: flex;
  border: 1px solid #e0e0e0;
  width: 100%;
  height: 100%;

  span {
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 5px;
  }
  p {
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    color: #8b96a5;
    margin: 10px;
  }
}
.eco_homeDecoreDiv1 {
  display: flex;
  justify-content: space-between;
}
.eco_homeDecorItems2 {
  display: flex;
  justify-content: space-between;
}
.ecom_SourceNow_btn {
  background-color: white;
  height: 40px;
  padding: 0px 16px;
  border-radius: 6px;
  color: #1c1c1c;
  font-weight: 700;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
