<div class="ecom_homeOutdoor_container">
  <div class="ecom_homeAndOutdoor_Img">
    <img
      src="../../../assets/ElectronicGAdgets/img1.png"
      title="home decor"
      alt="home decor"
    />
    <div class="eco_HomeDecorText">
      <p class="homeDecor_text">Consumer electronics and gadgets</p>
      <button class="ecom_SourceNow_btn">Source now</button>
    </div>
  </div>
  <!-- small decor items section1-->
  <div class="eco_homeDecorItems1">
    <div class="grid-container">
      <div class="ecom_chairText grid-item">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/rasm.png" alt="" />
      </div>
      <!-- 2nd -->
      <div class="ecom_chairText grid-item">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/homeDecoreItems/image2.png" alt="" />
      </div>
      <!-- 3rd -->
      <div class="ecom_chairText grid-item">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/homeDecoreItems/image3.png" alt="" />
      </div>
      <!-- 4th -->
      <div class="ecom_chairText grid-item">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/rasm.png" alt="" />
      </div>

      <!-- small decor items section2-->

      <!-- 5th -->
      <div class="ecom_chairText grid-item">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/image5.png" alt="" />
      </div>
      <!-- 6th -->
      <div class="ecom_chairText grid-item">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/image6.png" alt="" />
      </div>
      <!-- 7th -->
      <div class="ecom_chairText grid-item">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/image7.png" alt="" />
      </div>
      <!-- 8th -->
      <div class="ecom_chairText grid-item">
        <span>
          <span>Soft chairs</span>
          <p>From</p>
          <p>USD 19</p>
        </span>
        <img src="../../../assets/image8.png" alt="" />
      </div>
    </div>
  </div>
</div>
